@charset "UTF-8";
/********
Theme Name: Craig Wright WP Theme
Author: Chris Brosnan/Ayre Media dev team
Description: Custom WP theme for personal blog of Craig Wright.
Requires at least: WordPress 4.9.6
Version: 1.3
Text Domain: craigwright
********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

body{
	font-family: "Montserrat", sans-serif !important;
	font-weight: 400;
}
ul{
	list-style-type: none;
}
.f-light{
	font-weight: 300 !important;
}

.f-regular{
	font-weight: 400 !important;
}

.f-semi-bold{
	font-weight: 600 !important;
}

.f-bold{
	font-weight: 700 !important;
}
.box-shadow{
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
/*	height: 500px;*/
}
.txt-color-brown{
	color: #2555ac !important;
}
.txt-color-white{
	color: #ffffff !important;
}
.bg-brown{
	background-color: #2555ac;
}
.solid-bg-blue{
	background-color: #2657ae;
}
header, footer {
	background: #363636;
}
#site-header p{
	font-size: 14px;
	line-height: 1.4;
}
#site-header p.tagline{
	color: #d0d0d0;
}
.post-card img{
	width: 100%
}
.sep{
	margin-left: 0;
	border-top-color: #2555ac;
	border-top-width: 3px;
}

.post-details span{
	font-size: 12px;
	color: #505050;
}
h3.entry-title{
	font-size: 20px !important;
	line-height: 1.4;
}
h1.entry-title{
	font-size: 28px !important;
	line-height: 1.4;
	color: #363636;
}
h3.entry-title a{
	color: #363636;
}
h3.entry-title a:hover{
	color: #2555ac;
	text-decoration: none;
}
.card-details .btn{
	border-radius: 25px;
	font-size: 12px;
	text-transform: uppercase;
}
.card-details .btn-lg{
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}
.btn-primary{
	background-color: #fff;
	border-color: #2555ac;
	color: #2555ac;
}
.btn-primary:hover{
	background-color: #2555ac;
	border-color: #2555ac;
	color: #fff
}
.card-details .entry-content p{
	font-size: 12px;
	color: #373736;
}
#newsletter-form{
	background-color: #484848
}
#newsletter-form p{
	color: #a3a3a3;
	font-size: 16px;
}
#newsletter-form input{
	width: 100%;
}
.wpcf7-submit{
	background-color: #2555ac;
    border-color: #2555ac;
    color: #fff;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.wpcf7-email{
	padding-bottom: .5rem;
    padding-top: .5rem;
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #b9b9b9;
    border: none;
}
#newsletter-form input:focus{
	outline: none;
}
.wpcf7-email:focus{
	box-shadow: 0 0 0 2px #2555ac
}
.tags-list{
	display: inline-block;
	list-style-type: none;
	padding-left: 0;
}
.tags-list li{
	display: inline-block;
    background-color: #e0e0e0;
    padding: .5rem 1rem;
    color: #373736;
    font-size: 12px;
    margin-right: .2rem;
}

.tagcloud a{
    background-color: #e0e0e0;
    padding: .5rem 1rem;
    color: #373736;
    font-size: 12px;
    margin-right: .2rem;
    margin-bottom: .2rem;
    display: inline-block;
}
.tagcloud a:hover{
	text-decoration: none;
	background-color: #c3c0c0
}
.social ul li{
	margin-right: 1rem;
    background: #fff;
    border-radius: 50%;
   	width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.fab:before {
    color: #2555ac;
}
.sidebar-post {
	padding-top: 15px;
	background-color: #f2f2f2;
}
.sidebar-post ul{
	padding-left: 0
}
.sidebar-post ul li a{
	color: #373736;
	font-size: 14px;
}
h3.widget-title{
	font-size: 18px;
	text-transform: uppercase;
	color: #373736;
	font-weight: 600;
}
.navbar-brand {
	margin: 0 auto;
}
.sep-header{
	border-top: 3px solid #2555ac;
    width: 170px;
}
.navbar-brand img{
	height: 150px;
}
footer .textwidget p{
	color: #a3a3a3;
	text-align: center;
	padding-top: .5rem
}
.list-inline{
	margin-bottom: 0 !important;
	padding: 1rem 15px;
}
.list-inline-item a{
	color: #fff;
	text-transform: uppercase;
}
.list-inline-item a:hover{
	text-decoration: none;
}
.single-post img{
	max-width: 100%;
	height: auto;
}
/* Set dropdown menu to display none by default */
nav ul{
	position: relative;
}
nav ul.sub-menu {display:none}
.sub-menu li{
	display: list-item !important;
}
nav ul.sub-menu {
	position: absolute;
	z-index: 9;
	background: black;
	right: 0;
    width: auto;
    height: auto;
    padding: 20px 10px;
    text-align: left;
}

ul.sub-menu li a {
	font-size: 12px;
}
input#s {
    border-radius: 20px !important;
}
#searchform .input-group-btn{
	position: absolute;
	right: 0;
}
li.current_page_item a, li.current-menu-item a{
	color: #306cd9 !important
}
#menu-main li a:hover{
	color: #306cd9 !important
}
.allcat a{
	font-size: 14px;
	color: #222222
}
.allcat a:hover{
	text-decoration: none;
	color: #2555ac;
}
#site-header-single img{
	width: auto;
}
.wpcf7-validation-errors, .wpcf7-not-valid-tip{
	color: #fff
}
.sub-menu li {
		display: none; 
	}
	
.screen-reader-response {
	display: none;
}
.wpcf7-response-output.wpcf7-mail-sent-ok {
	color: #fff;
	margin-top: 1em;
}
.post-card .btn.btn-primary.btn-lg {
	margin-bottom: 1em;
}
.post-card .entry-title.card-title {
	height: 56px;
}
.post-card .entry-content p {
	height: 56px;
}
.post-card .post-details {
	height: 56px;
}

.topmenu{
	background-color: #141414; 
}
.aspectRatioPlaceholder-fill {
			padding-bottom: 0px !important;
		}
		main footer { 
			display: none;
		}
		.aspectRatioPlaceholder.is-locked {
			max-height: 100% !important; 
		}
		section.p-summary {
			display: none !important;
		}
		.graf--title {
			display: none !important; 
		}
		.menu-main-container {
			width: 100%; 
		}
		#menu-main a {
			color: #fff;
			text-transform: uppercase; 
			text-decoration: none;
		}
		#menu-main li {
			margin: 0 1em 0 1em; 
		}
/* Display any ul nested within an li on hover */

nav li:hover ul {display:inherit;}

/* FEATURED POST */
.featuredPosts{
	background-color: #183466;
	color: #ffffff;
}
.featuredPosts_label{
	left: 0;
	top: 10%;
	background-color: #FFFFFF;
	padding: 5px 20px;
	color: #2555ac;
}
.featuredPosts:hover{
	background-color: #1c3d79;
	cursor: pointer;
}
.featuredPosts_image{
	/*width: 370px;
	height: 420px;*/
	height: 200px;
}
.featuredPosts_image-blog{
	height: 200px;
}
.featuredPosts_title{
	min-height: 67px;
}
.featuredPosts_title a h2{
	font-size: 1.5rem;
	color: #ffffff;
}
.featuredPosts_title a:hover{
	text-decoration: none !important;
}
.featuredPosts_title a:hover h2{
	text-decoration: none;
}
.featuredPosts_meta .post-details span{
	color: #dadada;
}

/*degree*/
.degree-card{
	max-height: 300px;
}
.degree-card img{
	width: 100%;
	max-height: 180px;
	object-fit: cover;
	object-position: top;
}
.menu-about li a:hover{
	text-decoration: none;
	color: #2555ac !important;
}
.menu-about li a.active{
	color: #2555ac !important;
}
.multipleimg{
	-webkit-box-shadow: 10px 10px 4px #00000038;
	 -moz-box-shadow: 10px 10px 4px #00000038;
	box-shadow: 10px 10px 4px #00000038;
}
.bttns-d li > button{
	border-radius: 2rem;
	font-weight: bold;
    padding: .5rem 2rem;
    margin-bottom: 1.5rem
}

.bttns-d li .btn-outline-primary{
	border-color: #2555ac;
	color: #2555ac;
}
.bttns-d li .btn-outline-primary:hover{
	border-color: #2555ac;
	color: #fff;
	background-color: #2555ac;
}

.card-title{
	height: 90px;
}

.card-title h4{
	font-size: 1vw;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
	background-image: none;
}
.carousel-control-prev{
	left: -40px
}
.carousel-control-next{
	right: -40px
}

.carousel-control-prev-icon .fa-chevron-left, .carousel-control-next-icon .fa-chevron-right{
	font-size: 2rem;
	color: #2555ac
}

@media only screen and (max-width: 768px) {
	.wpcf7-form-control.wpcf7-submit {
		margin-top: 1em;
	}
	.social{
	flex-flow: column;
	}
	#site-header p {
		font-size: 3vw;
	}
	.wpcf7-form-control.wpcf7-submit {
		margin-top: 1em;
	}
	.block-img{
		padding-right: 15px !important
	}
	.jumbotron h1, .jumbotron h2{
		font-size: 1.5rem;
	}
	.jumbotron h5{
		font-size: .85rem;
	}
	.allcat{
		text-align: center !important;
		padding-bottom: 1rem !important
	}
	.card-title h4, .bttns-d li button{
	font-size: 2vw;
	}
}

@media only screen and (max-width: 425px) {
	.card-title h4, .bttns-d li button{
		font-size: 3vw;
	}
	.card-title{
		height:inherit !important;
	}

}
@media (min-width: 768px) {
	.featuredPosts_image{
		height: 420px;
	}
	.featuredPosts_image-blog{
		min-height: 476px;
	}
	.featuredPosts_image-blog img{
		height: 100%;
	}
}


@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
